.navbar {
  background-color: #0d0f1a; /* Dark background */
  padding: 0.5rem 2rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #a17cf6; /* Purple color for the logo */
}

.navbar-brand {
  text-decoration: none;
  color: inherit;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.auth-links {
  display: flex;
  gap: 1rem;
}

.navbar-link {
  text-decoration: none;
  color: #e0e0e0; /* Light color for the links */
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: #a17cf6; /* Hover color */
}
